:root {
    --purple-color: #3B3EF9;
    --hotpink-color: #E74B94;
    --lightpink-color: #FEE4F1;
    --lightgrey-color: #F5F5F5;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--purple-color);
    max-width: 100vw;
    overflow-x: hidden;
}

nav {
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
    position: fixed;




}

nav ul {
    list-style-type: none;
    width: 100vw;
    display: flex;
    /*    background-color: black;*/
    justify-content: space-between;
    align-items: baseline;
}

nav li {
    /*    background-color: black;*/
    padding: 15px;
    /*    display: inline-block;*/

}

.readmore {
    background-color: black;
}

nav a {
    text-decoration: none;
}



.correspondentLogo {
    fill: #fff;
    height: 25px;

}

.correspondentHover {
    transition: .5s;
}

.correspondentHover:hover {
    fill: #E74B94 !important;
}

.leesmeer:hover {
    fill: #E74B94 !important;
    stroke: rgba(255, 255, 255, 0) !important;
    stroke-width: 0 !important;
}

.leesmeer {
    fill: #fff;
    stroke-width: 15;
    height: 13px;
    padding: 6px 3px;
    transition: .5s;
}

.page1 svg {
    position: absolute;
    opacity: .9;
    z-index: -1;
}

.page1 .intro {
    z-index: 9999;
}

.fullsection {
    /*    background-color: aquamarine;*/
    height: 100vh;
}

.eyeMap {
    background-color: var(--lightpink-color);
}


.page2 {
    background-color: var(--lightpink-color);
}

.kranten {
    padding: 100px 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.veilig {
    box-sizing: border-box;
    padding: 100px 250px;
    background: rgb(59, 62, 249);
    background: linear-gradient(180deg, rgba(59, 62, 249, 1) 50%, rgba(254, 228, 241, 1) 50%);
}


.nummer2 {
    background: rgb(254, 228, 241);
    background: linear-gradient(180deg, rgba(254, 228, 241, 1) 50%, rgba(59, 62, 249, 1) 50%);
}

.contactonderzoek svg {
    height: 240px;
    /*    display: block;*/
}

.contactonderzoek-wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    display: flex;
    height: 600px;
    border: dashed 3px white;
    overflow-y: hidden;


    /*    align-items: baseline;*/
}

.contacttitle {
    text-align: right;
}


.contacttitle span {
    background-color: var(--hotpink-color);
    color: white;
    padding: 10px;
    font-family: 'IBM Plex Mono', monospace;
    margin: 3vh 160px 0 10px;
    display: inline-block;

}

.contactonderzoek h3 {
    font-size: 4rem;
    min-width: 60vw;
    margin-right: 150px;
    text-align: right;
}



.contactonderzoek {
    padding: 200px 150px 120px 150px;
    box-sizing: border-box;



}

.contactonderzoek svg .guy {
    fill: #000000;
    stroke: white;
    stroke-width: 5px;
}

.arrow {
    height: 100%;
    margin-right: -1px;
    /*    max-width: 10vw;*/
    /*
    background-image: url(images/arrow-01.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
*/
}

.arrow-container {
    height: 600px;
}

.telefoon-container {
    height: 600px;
    width: 55vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 100px;
    box-sizing: border-box;
}

.morph {
    display: flex;
    background-color: var(--lightpink-color);
    /*    margin-left: 30vw;*/
    /*    padding: 50px 200px 200px 200px;*/
    flex-direction: row;
}


.telefoon-container svg {
    /*    display: block;*/
    /*    margin: auto;*/
    height: 60%;
    box-sizing: border-box;

}

.telefoon-container h4 {
    font-size: 1.4rem;
    margin-top: 30px;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    padding: 0 120px;
    font-weight: 600;
    line-height: 2rem;

}

.telefoon-container span {
    font-size: 1.7rem;
    font-weight: 800;
    color: var(--hotpink-color);
}


#Oog {
    animation: oogfade 5s infinite;
}

#Oog rect {
    fill: var(--hotpink-color);
}

#Telefoon #pin {
    fill: var(--hotpink-color);
}

#Telefoon {
    animation: telefoonfade 5s infinite;
}


.verspreiding-container svg {
    width: 100%;
    margin-bottom: 30px;
}

.verspreiding {
    /*    background-color: white;*/
    height: 500px;
    padding: 25px;
    color: white;
}


.verspreiding-container {
    padding: 60px;
    background-color: var(--hotpink-color);
    width: 55vw;
    box-sizing: border-box;

    /*    margin-left: 40vw;*/
}











@keyframes oogfade {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes telefoonfade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}










#rij2,
#rij3,
#rij4,
#rij5,
#rij6 {
    opacity: 0;
}



#rij2 {
    animation: rij2fade 10s infinite;

}

#rij3 {
    animation: rij3fade 10s infinite;

}


#rij4 {
    animation: rij4fade 10s infinite;

}

#rij5 {
    animation: rij5fade 10s infinite;

}

#rij6 {
    animation: rij6fade 10s infinite;

}



.articletitle {
    background-color: white;
    width: 50vw;
    display: flex;
    margin: auto;
    flex-direction: column;
    padding: 30px 50px;
    align-items: baseline;
    justify-content: space-around;

}

.veilig span {
    background-color: var(--purple-color);
    color: white;
    padding: 10px;
    font-family: 'IBM Plex Mono', monospace;
    margin: 10px 10px 0 10px;
    box-sizing: border-box;
}


.veilig h3 {
    color: var(--hotpink-color);
    width: 100%;
    font-size: 2rem;
    padding: 10px 10px 2vh 10px;
}

.sectiontitle {
    /*    background-color: aqua;*/
    width: 100%
}

.kranten span {
    background-color: var(--hotpink-color);
    color: white;
    padding: 10px;
    font-family: 'IBM Plex Mono', monospace;
    margin: 3vh 10px 0 10px;
}



.krantenartikel {
    /*    background-image: url(images/KrantenArtikelen-01.svg);*/
    background-size: contain;
    background-repeat: no-repeat;
    width: 60%;
    height: 100%;
}

.krantenartikel img {
    padding: 50px 0;
    animation: skewing 3s infinite;
    transform-origin: bottom;
}

@keyframes skewing {

    0% {
        transform: skewX(0deg);
    }

    20% {
        transform: skewX(1deg);
    }

    40% {
        transform: skewX(0deg);
    }


    75% {
        transform: skewX(1deg);
    }

    80% {
        transform: skewX(0deg);
    }

    85% {
        transform: skewX(1deg);
    }

    90% {
        transform: skewX(0deg);
    }

}



.krantencontent {
    box-sizing: border-box;
    width: 40%;
    padding: 50px 10px 50px 30px;
    /*    background-color: #ff00ff;*/
    color: white;
}


.krantencontent p {
    margin-top: 0px;
}

.krantencontent p.bold {
    font-style: italic;
    font-weight: 500;
    font-size: 1.3rem;
    margin-top: 20px;
    line-height: 1.7rem;
}


.intro {
    /*    background-color: azure;*/
    max-width: 1140px;
    display: block;
    margin: auto;
    height: 100vh;
}

h1 {
    font-size: 3rem;
    width: 900px;
    color: white;
    /*    background-color: #0dd6d6;*/
    padding: 40vh 10px 10px 10px;
    font-family: 'IBM Plex Mono', monospace;
}

h2 {
    font-size: 1.2rem;
    width: 900px;
    color: white;
    /*    background-color: #0dd6d6;*/
    padding: 10px 10px 10px 10px;
    font-family: 'Courier New', monospace;
    font-weight: 400;
}

h3 {
    font-size: 3rem;
    width: 900px;
    color: white;
    /*    background-color: #0dd6d6;*/
    padding: 3vh 10px 5vh 10px;
    font-family: 'IBM Plex Mono', monospace;
}

p {
    font-family: 'Courier New', monospace;
}

p.bold {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
}

#scroll {
    height: 50px;
    display: block;
    margin: auto;
    fill: black;
    position: absolute;
    bottom: 40px;
    left: 48vw;
}

#scroll2 {
    height: 50px;
    display: block;
    margin: auto;
    fill: white;
    bottom: 40px;
    left: 48vw;
    transform: rotate(-90deg);
    padding: 30px;
}

#scrollDot {
    animation: scrolldown 2.5s infinite ease-in-out;
}

@keyframes scrolldown {
    from {
        transform: translateY(0px);
        opacity: 1;
    }

    to {
        transform: translateY(-200px);
        opacity: 0;
    }
}




/*Css Location Map*/

.ontwikkeling-wrapper {
    display: flex;
    justify-content: space-around;
}

.ontwikkeling-map {
    height: 95vh;
    max-width: 95vw;
    margin-left: 50px;

}

.ontwikkeling-map .cls-6 {
    fill: white;
    transition: .3s;
    opacity: .5;

}

.ontwikkeling-map .cls-6:hover {
    fill: lightpink;
    transition: .3s
}

.ontwikkeling-map .cls-7 {
    fill: white;
    transition: .3s;
    animation: lightup 3.5s infinite;
    opacity: .5;
}

.ontwikkeling-map .cls-7:hover {
    fill: #ff4ca0;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
    transition: .3s
}


@keyframes lightup {
    0% {
        fill: white;

    }

    50% {
        fill: #ff4ca0;
        opacity: 1;
    }

    100% {
        fill: white;
    }
}



/*Css Telefoon Map*/

.mapContainer {
    display: flex;
    justify-content: space-around;
}

.map {
    height: 95vh;
    max-width: 95vw;
}



#Layer_8 {
    animation: telefoonRing infinite 1s;
    transform-origin: center;
}


#Layer_22 {
    animation: telefoonRing3 infinite reverse 1.2s;
    animation-delay: .3s;
    transform-origin: center;
}

#Layer_25 {
    animation: telefoonRing infinite reverse 1s;
    animation-delay: .3s;
    transform-origin: center;
}


#Layer_32 {
    animation: telefoonRing2 infinite reverse 1s;
    animation-delay: .5s;
    transform-origin: center;
}

#Layer_34 {
    animation: telefoonRing3 infinite 1.2s;
    animation-delay: .2s;
    transform-origin: center;
}

#Layer_37 {
    animation: telefoonRing2 infinite 1s;
    animation-delay: .4s;
    transform-origin: center;
}

#Layer_44 {
    animation: telefoonRing infinite reverse 1s;
    animation-delay: .6s;
    transform-origin: center;
}

#Layer_49 {
    animation: telefoonRing2 infinite 1s;
    transform-origin: center;
}

#Layer_8:hover,
#Layer_22:hover,
#Layer_25:hover,
#Layer_32:hover,
#Layer_34:hover,
#Layer_37:hover,
#Layer_44:hover,
#Layer_49:hover {
    animation: none;
}

#Bluetooth,
#Location,
#Noorwegen,
#GPS,
#Singapore,
#QR,
#Privacy,
#Australie,
#Ijsland {
    opacity: 0;
    transition: 0.3s;
    /*    animation: telefoonRing infinite 1s;*/
    transform-origin: center;

}

#Bluetooth:hover,
#Noorwegen:hover,
#GPS:hover,
#Singapore:hover,
#QR:hover,
#Privacy:hover,
#Australie:hover,
#Ijsland:hover {
    opacity: 1;
    transition: 0.3s;
}



/*Pop-up*/


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 400ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 2.5vh auto;
    padding: 30px;
    background: var(--lightgrey-color);
    box-sizing: border-box;
    border: 50px black solid;
    width: 80vw;
    position: relative;
    transition: all 2s ease-in-out;
}

.small {
    width: 40vw;
}

.popup h2 {
    font-size: 2rem;
    margin-top: 0;
    padding: 0;
    color: #333;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 800;
    width: 100%;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 400ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: var(--hotpink-color);
}

.popup .content {
    min-height: 70vh;
    overflow: auto;
}

.popup .content img {
    width: 100%;
}

.popup .content p {
    font-family: 'Courier new', monospace;
    line-height: 19px;
    font-size: 0.87rem;
    width: 60%;
    margin-top: 20px;
}

.popup .content .smallimg {
    margin-top: 30px;
    width: auto;
    height: 30vh;
}

.popup .content .smallp {
    width: 100%;
}


/*******************************Loader******************************/

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(images/COVID-20.gif) center no-repeat #3B3EF9;
}




/*******************************Keyframes******************************/

@keyframes telefoonRing {
    0% {
        transform: rotateX(0) scale(1) skew(1deg)
    }

    10% {
        transform: rotateX(-5deg) rotateY(5deg) rotateZ(.5deg) scale(1) skew(1deg)
    }

    20% {
        transform: rotateX(5deg) rotateY(-5deg) rotateZ(.5deg) scale(1) skew(1deg)
    }

    30% {
        transform: rotateX(-5deg) rotateY(5deg) rotateZ(.5deg) scale(1) skew(1deg)
    }

    40% {
        transform: rotateX(5deg) rotateY(-5deg) rotateZ(.5deg) scale(1) skew(1deg)
    }

    50% {
        transform: rotateX(0) scale(1) skew(1deg)
    }

    100% {
        transform: rotateX(0) scale(1) skew(1deg)
    }
}

@keyframes telefoonRing2 {
    0% {
        transform: rotateX(0) scale(1) skew(1deg)
    }

    10% {
        transform: rotateX(8deg) rotateY(-3deg) rotateZ(.5deg) scale(1) skew(1deg)
    }

    20% {
        transform: rotateX(-8deg) rotateY(3deg) rotateZ(.5deg) scale(1) skew(1deg)
    }

    30% {
        transform: rotateX(8deg) rotateY(-3deg) rotateZ(.5deg) scale(1) skew(1deg)
    }

    40% {
        transform: rotateX(-8deg) rotateY(3deg) rotateZ(.5deg) scale(1) skew(1deg)
    }

    50% {
        transform: rotateX(0) scale(1) skew(1deg)
    }

    100% {
        transform: rotateX(0) scale(1) skew(1deg)
    }
}

@keyframes telefoonRing3 {
    0% {
        transform: rotateX(0) scale(1) skew(1deg)
    }

    10% {
        transform: rotateX(-8deg) rotateY(3deg) rotateZ(1deg) scale(1) skew(1deg)
    }

    20% {
        transform: rotateX(8deg) rotateY(-3deg) rotateZ(1deg) scale(1) skew(1deg)
    }

    30% {
        transform: rotateX(-8deg) rotateY(3deg) rotateZ(1deg) scale(1) skew(1deg)
    }

    40% {
        transform: rotateX(8deg) rotateY(-3deg) rotateZ(1deg) scale(1) skew(1deg)
    }

    50% {
        transform: rotateX(0) scale(1) skew(1deg)
    }

    100% {
        transform: rotateX(0) scale(1) skew(1deg)
    }
}




@keyframes rij2fade {

    20% {
        opacity: 1;
        fill: #3B3EF9;
    }

    98% {
        opacity: 1;
        fill: #3B3EF9;
    }
}

@keyframes rij3fade {

    40% {
        opacity: 1;
        fill: #3B3EF9;

    }

    98% {
        opacity: 1;
        fill: #3B3EF9;
    }

}

@keyframes rij4fade {

    60% {
        opacity: 1;
        fill: #3B3EF9;
    }

    98% {
        opacity: 1;
        fill: #3B3EF9;
    }
}

@keyframes rij5fade {

    80% {
        opacity: 1;
        fill: #3B3EF9;
    }

    98% {
        opacity: 1;
        fill: #3B3EF9;
    }

}

@keyframes rij6fade {

    98% {
        opacity: 1;
        fill: #3B3EF9;
    }

}
